.main-title{
    font-family: 'Press Start 2p', sans-serif ;
    font-size: 40px;
    color: #4C5B84;
    text-shadow: 4px 4px 0px black;

}

.main-title.-second{
    color:  aqua;
    text-shadow: none;
    text-align: center;

}