.progress-bar {
    box-sizing: border-box;
    background-color: black;
    border: 3px solid #fff;
    height: 40px;
}

.progress-bar::-webkit-progress-bar,
.progress-bar::-webkit-progress-value {
    width: 30%;
    background-color: #4C5B84;
}

.progress-bar::-moz-progress-bar,
.progress-bar::-moz-progress-valuer{
    width: 30%;
    background-color: #4C5B84;
}
