.skills-tec{
    display: flex;
    font-family: 'Press Start 2p', sans-serif ;
    font-size: 25px;
    color: white;
}

.skills-tec .icon{
    margin-right: 25px;
    
}

.skills-tec .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}